@font-face {
	font-family: "Bebas-Neue";
	font-weight: normal;
	font-style: normal; 
	src: url("../fonts/BebasNeue Regular.otf") format("opentype");
}
@font-face {
	font-family: "Bebas-Neue";
	font-weight: 300;
	font-style: normal; 
	src: url("../fonts/BebasNeue Light.otf") format("opentype");
}
@font-face {
	font-family: "Bebas-Neue";
	font-weight: 600;
	font-style: normal; 
	src: url("../fonts/BebasNeue Bold.otf") format("opentype");
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.wrapper {
	max-width: 960px;
	margin: 0 auto;
}
body {
	font-family: "Bebas-Neue", sans-serif;
	font-weight: normal;
	color: #ffffff;
	min-width: 320px;
	overflow-x: hidden;
}
.main-header {
	height: 500px;
	background: url("../images/header-bg.jpg");
	background-repeat: no-repeat;
	background-position: -20px;
	background-size: cover;
	& h1 {
		text-transform: uppercase;
		color: #ffffff;
		font-size: 90px;
		font-weight: 600;
		margin:0;
		line-height: 67px;
		padding-top: 127px;
		margin-left: 60px;
		position: relative;
		& span {
				font-size: 36px; 
				color: #ffffff;
				line-height: 25px;
				font-weight: 600;
				position: absolute;
				top: 100%;
				left: 0;
			}
	}
}
.main-nav {
	background: #252222;
	& .wrapper {
		display: flex;
		align-items: center;
		height: 100px;
		justify-content: space-between;
	}
	& .logo {
		font-size: 35px;
		font-weight: normal;
		margin-left: 30px;
		& h3 {
			margin: 0;
		}

	}
	& .links {
		display: flex;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		& ul {
			display: flex;
			& a {
				font-weight: normal;
				font-size: 20px;
				color: #FFF;
				padding: 10px;
				padding-bottom: 15px;
				margin-left: 10px;
				position: relative;
				&:before {
					position: absolute;
					content: "";
					top: 100%;
					left: 0;
					width: 0;
					height: 1px;
					background: #65ba99;

				}
				&:hover:before {
					width: 100%;
					transition: .25s ease-out;
				}
				&:hover {
					color: #65ba99;
					transition: 0.2s;
				}
			}
		}
		& .social-links {
			display: flex;
			margin-left: 62px;
			& div {
				width: 36px;
				height: 36px;
				background: #FFF;
				border-radius: 50%;
				margin-left: 13px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 22px;
				color: #252222;	
				&:hover {
					color: #FFF;
					background:#65ba99;
					transition: .2s ease-out;
				}
			}
		}
	}
}
.hamburger {
	display: none;
}

// ***************** Grid Element's Classes **********
.col2 {
		grid-column-start: span 2;
	}
.row2 {
	height: 255px;
}
.row3 {
	height: 350px;
}
.row4 {
	height: 235px;
}
.row5, .row6 {
	height: 235px;
}
.row1{
	height: 250px;
}

/* ************************************** */

#portfolio {
	background: #65ba99;
	& .header {
		height: 175px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: transparent;

		& h2 {
			font-size: 48px;

		}
		& span {
			font-size: 24px;	
		}
	}
	& .works-grid-container {
		height: 1560px;
		max-width: 960px;
		padding-bottom: 100px;
		display: grid;
		grid-template-columns: repeat(4, minmax(175px, 235px) );
		grid-template-rows: repeat(6, 1fr);
		box-sizing: content-box;
		padding-bottom: 100px;
		padding-left: 15px;
		padding-right: 15px;
		& .work-piece {
			position: relative;
			background: #ccc;
			background-size: cover;
			background-position: center;
			& .on-hover {
				width: 100%;
				height: 100%;
				background: rgba(101, 186, 153, .6);
				display: flex;
				flex-direction: column;
				display: none;
				& a {
					color: #fff;
				}
				& .middle-content {
					margin: auto;
					color: #fff;
					font-size: 30px;
					opacity: 2;
					& .fa-search {
						&:hover {
							cursor: pointer;
							color: #444442;
							transition: .25s ease;
						}
					}
				}
				& .down-content {
					align-self: center;
					display: flex;
					justify-content: center;
					margin-bottom: 23px;
					font-size: 22px;
					width: 100%;
					& .fa-heart {
						padding: 5px 5px;
						margin: 0 5px;
						&:hover {
							cursor: pointer;
							color: #f90202;
							transition: .25s ease;
						}
					}
					& .fa-info-circle {
						padding: 5px 5px;
						margin: 0 5px;
						&:hover {
							cursor: pointer;
							color: #00f9f9;
							transition: .25s ease;
						}
					}
					& .fa-link {
						padding: 5px 5px;
						margin: 0 5px;
						&:hover {
							cursor: pointer;
							color: #0950f4;
							transition: .25s ease;
						}
					}
					& .fa-images {
						padding: 5px 5px;
						margin: 0 5px;
						&:hover {
							cursor: pointer;
							color: #e0ef39;
							transition: .25s ease;
						}
					}
				}
			}
			&:hover .on-hover {
				display: flex;
				transition: all .25s;
			}
		}
	}
}
#portfolio .works-grid-container .col2 .on-hover .down-content {
	& .fa-heart {
		padding: 5px 10px;
		margin: 0 10px;
		&:hover {
			cursor: pointer;
			color: #f90202;
			transition: .25s ease;
		}
	}
	& .fa-info-circle {
		padding: 5px 10px;
		margin: 0 10px;
		&:hover {
			cursor: pointer;
			color: #00f9f9;
			transition: .25s ease;
		}
	}
	& .fa-link {
		padding: 5px 10px;
		margin: 0 10px;
		&:hover {
			cursor: pointer;
			color: #0950f4;
			transition: .25s ease;
		}
	}
	& .fa-images {
		padding: 5px 10px;
		margin: 0 10px;
		&:hover {
			cursor: pointer;
			color: #e0ef39;
			transition: .25s ease;
		}
	}
}
.quote {
	height: 300px;
	background: url("../images/quote-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;

	& .wrapper {
		display: flex;
		align-items: center;
		position: relative;
	}
	& h2 {
		font-size: 36px;
		text-align: center;
		width: 78%;
		margin: 0 auto;
		position: relative;
		&::before {
			display: inline-block;
			content: open-quote;
			position: absolute;
			font-size: 100px;
			right: 100%;
			bottom: calc(0% + 5px);
		}
		&::after {
			display: inline-block;
			content: close-quote;
			position: absolute;
			font-size: 100px;
			left: 100%;
			top: calc(0%);
			transform: rotateX(-180deg);
		}
	}
	& span {
		position: absolute;
		font-size: 24px;
		left: calc(90% - 113px);
		top: calc(100% + 44px);
	}
}
#news {
	background: #cdcdcd;
	text-align: center;
	& h2 {
		font-size: 48px;
		color: #252222;
		padding-top: 70px;
		margin-bottom: 75px;
	}
	& .flex-container {
		text-align: left;
		display: flex;
		justify-content: space-between;

	}
	& .left {
		width: 45%;
		margin-bottom: 80px;
		& .date {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& .day {
				display: inline-block;
				font-size: 11px;
				line-height: 20px;
				background: #59a386;
				padding: 6px 21px;
				margin-left: 1px;
				font-family: 'Open Sans', sans-serif;
			}
			& .place {
				font-size: 14px;
				color: #e74c3c;
				line-height: 20px;
				font-style: italic;
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;

				& i {
					color: #62b9b0;
					margin-right: 8px;
				}
			}
		}
		& .article-content {
			& h4 {
				font-size: 16px;
				color: #59a386;
				margin-top: 25px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
			}
			& .news-photo {
				width: 100%;
				height: 200px;
				margin-top: 20px;
				background-size: cover;
				background-position: center;
			}
			& p {
				margin-top: 18px;
				color: #666767;
				font-size: 14px;
				line-height: 20px;
				font-family: 'Open Sans', sans-serif;
			}
			& a {
				color: #e2534b;
				font-size: 14px;
				display: block;
				text-align: right;
				margin-right: 5px;
				margin-top: 17px;
				& i {
					font-size: 13px;
					margin-left: 16px;
				}
			}
		}
	}
	& .right {
		width: 45%;
		font-family: 'Open Sans', sans-serif;
		& h5 {
			font-size: 18px;
			color: #59a386;
			height: 32px;
			padding-top: 7px;
			margin-bottom: 15px;
		}
		& .tags {
			display: flex;
			flex-wrap: wrap;
			& span {
				font-size: 14px;
				padding: 7px 11px;
				background: #59a386;
				margin-right: 6px;
				margin-top: 10px;
				&:hover {
					cursor: pointer;
					background: rgba(226, 83, 75, 1);
					transition: 0.2s;
				}
			}
		}
		& .blog {
			& h4 {
				font-family: 'Open Sans', sans-serif;
				margin-top: 60px;
				font-size: 20px;
				color: #252222;
				& span {
					font-weight: 300;
					color: #818181;
					font-style: italic;
				}
			}
			& .blogpost {
				margin-top: 30px;
				&-photo {
					float: left;
					width: 70px;
					height: 70px;
					margin-right: 2%;
					background-size: cover;
					background-position: center;
				}
				& p {
					margin-right: 5%;
					font-size: 13px;
					color: #252222;
					font-family: 'Open Sans', sans-serif;
					line-height: 18px;
					font-weight: 400;
				}
				& span {
					font-size: 13px;
					opacity: 0.5;
					color: #e2534b;
					margin-top: 5px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 600;
				}
			}
		}
	}
}
.partners {
	background: #bebebe;
	& .wrapper {
		height: 210px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.bio {
	background: #e2534b;
	& .wrapper {
		text-align: center;
	}
	& h2 {
		font-size: 48px;
		color: #252222;
		padding-top: 70px;
	}
	& .flex-container {
		display: flex;
		justify-content: space-between;
	}
	& .left {
		margin-top: 130px;
		margin-left: 13%;
		text-align: left;
		& .selfie {
			width: 230px;
			height: 230px;
			background: #FFF;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			&::before {
				display: block;
				content: "John Smits";
				font-size: 36px;
				line-height: 18px;
				text-transform: uppercase;
				font-weight: 600;
				position: absolute;
				bottom: calc(100% + 45px);
			}
		}
		& .social-links {
			display: flex;
			margin-top: 48px;
			width: 230px;
			justify-content: space-around;
			margin-bottom: 75px;
			& div {
				width: 36px;
				height: 36px;
				background: #FFF;
				border-radius: 50%;
				margin-left: 13px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 22px;
				color: #e2534b;	
				&:first-child {
					margin-left: 0;
				}
				&:hover{
					background: #000;
					color: #FFF;
					transition: .25s ease;
				}
			}
		}
	}
	& .right {
		margin-top: 65px;
		text-align: left;
		width: 50%;
		& h3 {
			font-size: 18px;
			font-weight: 600;
		}
		& p {
			font-size: 14px;
			line-height: 18px;
			margin-top: 22px;
			font-family: 'Open Sans', sans-serif;
		}
	}
}
#contact {
	background: url("../images/contact-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	& .wrapper {
		text-align: center;
	}
	& h2 {
		font-size: 48px;
		color: #252222;
		padding-top: 70px;
	}
	& .phone {
		display: block;
		color: #FFF;
		font-size: 48px;
		margin-top: 70px;
		font-weight: 600;
	}
	& .email {
		display: block;
		margin-top: 25px;
		color: #ffffff;
		font-size: 60px;
		font-weight: 600;
		padding: 26px 130px;
		border: 5px solid #FFF;
		line-height: 1;
	}
	& address {
		font-size: 30px;
		font-weight: 600;
		margin-top: 27px;
		font-style: normal;
	}
	& footer {
		margin-top: 80px;
		& .copy {
			padding: 30px 0;
			font-size: 14px;
			line-height: 22px;
			display: block;
			font-family: 'Open Sans', sans-serif;
		}
	}
}

@media only screen and (max-width: 1050px) {
	#news .left {
		padding-left: 15px;
	}
	#news .right {
		padding-right: 15px;
	}
	#news .left .date .place {
		padding-left: 5px;
	}
	#contact .email {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media only screen and (max-width: 950px) {
	.main-header .wrapper {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		
	}
	.main-header h1 {
		font-size: 60px;
		line-height: 44px;
		padding: 0;
		width: 100%;
	}
	.logo h2{
		font-size: 35px;
	}
	.quote h2 {
		font-size: 32px;
	}
}

@media only screen and (max-width: 850px) {
	.partners {
		height: 310px;
	}
	.partners .wrapper {
		flex-direction: column;
		height: 100%;
	}
	.partners .wrapper img {
		padding: 20px 10px;
	}
}

@media only screen and (max-width: 750px) {
	.main-header h1 {
		margin-left: 20px;
		white-space: nowrap;
	}
	.main-header span {
		white-space: nowrap;
	}
	.hamburger {
		display: block;
		z-index: 5;
		outline: none;
	}
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
		background-color: #fff;
	}
	.main-nav .links {
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		width: 60vw;
		height: 100vh;
		top: 0;
		bottom: 0;
		right: 0;
		border-left: 2px solid #fff;
		background: #252222;
		position: fixed;
		z-index: 4;
		transform: translateX(100%);
		transition: all .5s ease;
	}
	.main-nav .links ul {
		flex-direction: column;
		padding-bottom: 50px;
		width: 100%;
		align-items: center;
	}
	.main-nav .links ul li {
		margin: 30px;
	}
	.main-nav .links ul li a {
		font-size: 30px;
	}
	.main-nav .social-links {
		margin: 0;
		width: 100%;
		justify-content: center;
	}
	#portfolio .works-grid-container {
		grid-template-columns: repeat(2, minmax(145px, 250px) );
		height: 2840px;
		padding-left: 10px;
		padding-right: 10px;
		max-width: 500px;
		margin: auto;
	}
	.quote h2 {
		font-size: 25px;
		&:before, &:after {
			font-size: 80px;
		}
	}
	.quote span {
		font-size: 20px;
		padding-top: 15px;
	}
	#news h2 {
		margin: 0;
		padding-bottom: 40px;
	}
	#news .flex-container {
		flex-direction: column;
	}
	#news .left, #news .right {
		max-width: 600px;
		width: auto;
		margin: auto;
		padding: 15px;
	}
	#news .right {
		border-top: 1px solid rgba(255,255,255,.4);
		padding-top: 35px;
		margin-top: 25px;
		padding-bottom: 50px;
	}
	#news .right .blog h4 {
		margin-top: 30px;
	}
	.bio .flex-container {
		flex-direction: column;
		align-items: center;
	}
	.bio .left {
		margin-left: 0;
	}
	.bio .right {
		text-align: center;
		padding-bottom: 50px;
		max-width: 500px;
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	#contact .phone {
		font-size: 40px;
	}
	#contact .email {
		font-size: 33px;
		padding: 20px 0px;
		width: 300px;
		margin: auto;
		margin-top: 20px;
	}
	#contact footer {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 650px) {
	.main-header {
		height: 400px;
	}
	.main-header h1 {
		font-size: 40px;
		line-height: 31px;
	}
	.main-header h1 span {
	  font-size: 28px;
	}
	#portfolio .header h2, #news h2, .bio h2, #contact h2 {
		font-size: 35px;
	}
	#portfolio .header span {
		font-size: 19px;
	}
	.quote h2 {
		font-size: 23px;
		&:before, &:after {
			font-size: 60px;
			padding: 10px;
		}
	}
	.bio .left .selfie::before {
		font-size: 25px;
	}
	.quote span {
		font-size: 18px;
		padding-top: 15px;
	}
	.bio .left .selfie {
		width: 200px;
		height: 200px;
		margin: auto;
	}
	.bio .left .social-links {
		margin-bottom: 0;
	}
	.bio .right h3 {
		font-size: 20px;
	}
	.bio .right p {
		font-size: 14px;
	}
	#contact .phone {
		font-size: 30px;
	}
	#contact .email {
		font-size: 29px;
		padding: 10px 15px;
	}
	#contact address {
		font-size: 25px;
	}
	#contact footer .copy {
		font-size: 11px;
	}
}

@media only screen and (max-width: 450px) {
	.main-header {
		height: 300px;
	}
	.main-header .wrapper {
		justify-content: center;
	}
	.main-header h1 {
		font-size: 35px;
		line-height: 27px;
		margin-left: 5px;
	}
	.main-header h1 span {
		font-size: 21px;
		line-height: 17px;
	}
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
		width: 25px;
		height: 3px;
	}
	.hamburger-inner:after {
		bottom: -7px;
	}
	.hamburger-inner:before {
		top: -7px;
	}
	.hamburger--arrowalt.is-active .hamburger-inner:before {
		transform: translate3d(-6px,-6px,0) rotate(-45deg) scaleX(.7); 
	}
	.hamburger--arrowalt.is-active .hamburger-inner:after {
		transform: translate3d(-6px,5px,0) rotate(45deg) scaleX(.7);
	}
	.main-nav .links {
		width: 80vw;
	}
	.main-nav .links ul li {
		margin: 20px;
	}
	.main-nav .links ul li a {
		font-size: 26px;
		padding: 3px;
	}
	.main-nav .links .social-links div {
		width: 30px;
		height: 30px;
		font-size: 20px;
	}
	.logo h2 {
		font-size: 28px;
	}
	#portfolio .header h2, #news h2, .bio h2, #contact h2{
		font-size: 30px;
	}
	#portfolio .header span {
		font-size: 17px;
	}
	.quote {
		height: 250px;
	}
	.quote h2 {
		font-size: 16px;
		&:before, &:after {
			font-size: 40px;
		}
	}
	.quote span {
		font-size: 15px;
		padding: 0;
	}
	#news .left .date .day {
		font-size: 10px;
		padding: 6px 13px;
	}
	#news .left .date .place {
		font-size: 11px;
	}
	#news .left .article-content h4 {
		font-size: 13px;
	}
	#news .left .article-content p, #news .right .blog .blogpost p {
		font-size: 12px;
	}
	#news .left .article-content a {
		font-size: 12px;
	}
	#news .right h5, #news .right .blog h4 {
		font-size: 16px;
	}
	#news .right .tags span {
		font-size: 11px;
	}
	#news .right .blog .blogpost span {
		font-size: 10px;
	}
	.bio .right h3 {
		font-size: 18px;
	}
	.bio .right p {
		font-size: 12px;
	}
	.bio .left .social-links div {
		width: 30px;
		height: 30px;
		font-size: 15px;
	}
	.bio .left .selfie {
		width: 180px;
		height: 180px;
	}
	.bio .left .selfie img {
		width: 130px;
	}
	.bio .left {
		margin-top: 110px;
	}
	#contact .phone {
		font-size: 25px;
	}
	#contact .email {
		font-size: 22px;
		padding: 5px 10px;
		border-width: 2px;
		line-height: 28px;
	}
	#contact address {
		font-size: 20px;
	}
	#contact footer .copy {
		font-size: 10px;
	}
	#contact footer {
		margin-top: 30px;
	}
	#portfolio .works-grid-container .work-piece .on-hover .down-content {
		flex-direction: column;
		align-items: center;
		& .far, .fas {
			padding: 5px 10px;
		}
	}
	#portfolio .works-grid-container .col2 .on-hover .down-content {
		flex-direction: row;
		& .fa-heart {
			padding: 5px 10px;
			margin: 0 10px;
		}
		& .fa-info-circle {
			padding: 5px 10px;
			margin: 0 10px;
		}
		& .fa-link {
			padding: 5px 10px;
			margin: 0 10px;
		}
		& .fa-images {
			padding: 5px 10px;
			margin: 0 10px;
		}
	}
}
